<h3>Página ADM</h3>
<div class="card mt-4">
    <div class="card-body">
        <h4>Bem-vindo, usuário administrador!</h4>
        <hr>
        <h7>Abaixo, temos o botão que leva para área administrativa de Bicicletas da nossa CrossBike. 
            Nesse sentido, não esquece de sinalizar quaisquer operações em nossa área administrativa para a central de funcionamento.</h7>
        <small><b>Excelente trabalho e tenha um ótimo dia!</b></small>
        <hr>
        <div class="d-flex"> <!--Para colocar os botões um do lado do outro-->
                <a href="/admin/bikes"><button class="btn btn-secondary mt-2">Área admin de Bicicletas</button></a> 
                <!-- <div class="mx-2"></div> Para colocar um espaço entre os botões
                <form action="/admin/postagens" method="GET">
                    <button type="submit" class="btn btn-secondary mt-2">Área admin de Postagens</button>
                </form>-->
        </div>
    </div>
</div>
